.main{
    text-align: center;
}
.sub{
    justify-content: center;
    align-items: center;
    -webkit-flex-pack:distribute;
    -moz-flex-pack:distribute;
    -ms-flex-pack:distribute;
    -webkit-justify-content:space-around;
    -moz-justify-content:space-around;
    justify-content:space-around;
    float: right;
    text-decoration: none;
    font-size: 18px;
    font-family:sans-serif;
    color: #f0f0f0;
    letter-spacing: 5px;
}

.image{
    margin: 0 auto;
    display:flex;
    padding: 200px 30px;
    float: left;

    p> {
        margin: 100px 40px;
        }

}