
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    height: 100vh;
    display: block;
    top: 100px;
    background: url(../jonathan-riley-VW8MUbHyxCU-unsplash.jpg);
    border-radius: 0  0 300px 300px;
    background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.inner{
   padding-top: 320px;
   letter-spacing: 5px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    h1{
        color: #f0f0f0;
        text-shadow: 0px 0px 300px #000;
        font-size: 500%;
     }
}
.btn{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:flex;
    -webkit-flex-pack:distribute;
    -moz-flex-pack:distribute;
    -ms-flex-pack:distribute;
    -webkit-justify-content:space-around;
    -moz-justify-content:space-around;
    justify-content:space-around;
    border: none;
    outline: none;
    border-radius: 30px;
   width: 300px;
   padding: 5px 20px;
    float: left;
    color: #232323;
    font-size: 16px;
   line-height: 30px;
   background: #fff;
}

.genre-txt{
    justify-content:space-around;
    border: none;
    outline: none;
   width: 150px;
   padding: 5px 20px;
    margin-left: 30px;
    border-radius: 30px;
    float: left;
    color: #232323;
    font-size: 16px;
   line-height: 30px;
   background: #fff;
}
.fa-search{
    width: 0;
    padding: 0 10px;
    color: #fff;
} 
