header{
    position: fixed;
    height: 100px;
    letter-spacing: 5px;
    background: #262626;
    width: 100%;
    z-index: 12; /*スクロールしても位置が変わらない指定*/
}

.box{
    margin: 0 auto;
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;

    a{  
        text-decoration: none;
        font-size: 40px;
        font-family:sans-serif;
        color: #f0f0f0;
        letter-spacing: 5px;
    }
}
nav{
    float: right;
    line-height: 100px;
    a{
        text-decoration: none;
        font-size: 14px;
        margin: 0 20px 0 0;
        color: #f0f0f0;
        transition: 0.4s;
    }
    a:hover{
        font-size: 18px;
        transition: 0.4s;
    }
}

@media screen and (max-width: 767px){

header{
    height: 100px;
   margin: 0 auto;
    nav{
        display: none;
    }

}
.logo{
    width: 200px;
    max-width: 500px;
    margin: 0 auto;
    float: none;
    a{
        font-size: 30px;
    }
}






}