@import "./menubar";
@import "./mainimage";
@import "./bodyicon";
@import "./bodymain";
@import "./bodymain2";
@import "./footerarea";

*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body{
    text-align: center;
    background: #000;
}

